.chart {
    border: 1px solid #d3d3d3;
    margin: 5px;
    flex-direction: column;
    position: relative;
    flex-direction: column;
    display: flex;
    border-radius:$border-radius-base;

    &.analysisTarget {
        border: 2px solid #e5e076;
    }

    :global(.popover) {
        background:#eee !important;
        box-shadow: -6px 3px 5px 0px rgba(0,0,0,0.25);
        border-right:none !important;
        border-color:$veryLightGrey;
        border-radius: $border-radius-base 0 $border-radius-base $border-radius-base;
        top:-1px;
        max-width:none !important;
        width:539px !important;

        &:global(.right) {
            padding-left:208px;
        }

    }

}

.activeChart {

    > div:nth-child(1) {
        position:relative;
        z-index:100000;
    }

    svg {
        z-index:100000;
        position:relative;
    }

}

.chartHeightOne {
    height: 195px;
}

.chartHeightTwo {
    height: 400px;
}

.chartWidthOne {
    width:195px;
}

.chartWidthTwo {
    width:400px;
}

