$fontSize: 11px;

.header {
  display: flex;
  height: 15px;
  align-items: center;
  line-height: 15px;
  padding: 0 2px;
  font-size: $fontSize;
}

.name {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center !important;
  font-weight: bold;
}

.controls {
  position:absolute;
  background:$veryLightGrey;
  right:1px;
  top:1px;
  border-radius:$border-radius-base;
  padding:3px 3px 3px 3px !important;
  flex-shrink: 0;
  display: flex;
  align-items: baseline;
  padding: 2px 0 1px 0;
}

.item {
  margin-right:8px;
  font-size: $fontSize + 1px;
  &:last-child {
    margin-right:0;
  }
}

.survivalIcon {
  width: $fontSize - 1px;
  height: $fontSize - 1px;
}

.clickable {
  cursor: pointer;
}

.undo {
  color: $brand-primary;
}

.downloadControl {

  display: flex;
  flex-direction: column;
  button {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}